.overlay_pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    opacity: 0.4;
    pointer-events: none;
    z-index: 999;
}

.overlay_tablette {
}

.overlay_mobile {
}

/* control demo overlay */

.overlay-controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 9999;
}

.overlay-controls button {
    padding: 8px 12px;
    cursor: pointer;
}

.hidden {
    display: none;
}
